<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <title>A Novel Idea</title>
</head>
<body>

<h1>A Novel Idea - Order Tracking</h1>

<ul>
  <li><a href="index.html">Homepage</a></li>
  <li><a href="add.html">Add Customer Order</a></li>
  <li><a href="delete.html">Delete Customer Order</a></li>
  <li><a href="search.html">Search for Order by Customer</a></li>
  <li><a href="update-title.html">Update Books in Order by Title</a></li>
  <li><a href="update-author.html">Update Books in Order by Author</a></li>
</ul>


<p>Please use the buttons above to manage customer orders.</p>

</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <title>A Novel Idea</title>
</head>
<body>

<h1>Welcome to A Novel Idea</h1>

<ul>
 <li><a href="index.html">Homepage</a></li>
 <li><a href="author.html">Author</a></li>
 <li><a href="book.html">Book</a></li>
 <li><a href="customer.html">Customer</a></li>
 <li><a href="order.html">Order</a></li>
</ul>
<br><br>
<h3>Click on the tabs above to get and update information on customers, books, orders, and authors! <h3>
 <br><br><br><br>
